<%- include partials/header.ejs %> 
<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> </h1>
    
     
    </div>
<%- include partials/main_nav.ejs %>

<%- include partials/content.ejs %>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %> 